.image-feature-softuni-projects{
    background: url("../images/projects/memory-game-background.png") no-repeat fixed;
    height: 24rem;
    position: static;
    background-size: cover;
}
.text-projects{
    padding-top: 100px;
    padding-bottom: 50px;
}