@font-face {
    font-family: 'Rounded Elegance';
    src: url("../fonts/rounded-elegance.ttf") format("opentype");
}
@font-face {
    font-family: 'Bakery';
    src: url("../fonts/bakery.otf")
}
@font-face {
    font-family: 'that i love you';
    src: url("../fonts/that i love you - TTF.ttf");
}
*{
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
    min-height: 100%;
}
body{
    height: 100%;
    overflow: scroll;
    font-family: "Rounded Elegance", sans-serif;
}
footer{
    text-align: center;
}
h1,
h3{
    font-family: "Rounded Elegance", sans-serif;
    padding: 2.5rem 0 0 2.5rem;
}
h3{
    font-family: "Rounded Elegance", sans-serif;
    letter-spacing: 5px;
}
a{
    color: #515151;
}
a:hover{
    text-decoration: none;
    color: #8E8E8E;
}

/*add navbar color*/
.navbar{
    background: #EFEFEF !important;
}
.brand{
    font-family:"Rounded Elegance", sans-serif;
    font-weight: bold;
}
.hearts{
    font: 2.0rem "that i love you", sans-serif;
}
.navbar-brand{
    font-family: "Rounded Elegance", sans-serif;
    color: #1E1E1E !important;
    transition: .3s all ease-in;
}
.navbar-brand:hover{
    color: #8E8E8E !important;
    cursor: pointer;
}
.intro-project{
    padding: 1rem 0 1.5rem 2.5rem;
}